<h1>Listing pfragments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>markup</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pfragments.each do |pfragment| %>
  <tr>
    <td><%= pfragment.name %></td>
    <td><%= pfragment.markup %></td>
    <td><%= link_to 'Show', pfragment %></td>
    <td><%= link_to 'Edit', edit_pfragment_path(pfragment) %></td>
    <td><%= link_to 'Destroy', pfragment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pfragment', new_pfragment_path %>
