<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pfragment.name %>
</p>

<p>
  <b>,markup:</b>
  <%= @pfragment.markup %>
</p>


<%= link_to 'Edit', edit_pfragment_path(@pfragment) %> |
<%= link_to 'Back', pfragments_path %>
