<h1>Listing pevents</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pevents.each do |pevent| %>
  <tr>
    <td><%= pevent.name %></td>
    <td><%= link_to 'Show', pevent %></td>
    <td><%= link_to 'Edit', edit_pevent_path(pevent) %></td>
    <td><%= link_to 'Destroy', pevent, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pevent', new_pevent_path %>
