<h1>Listing pwidgets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Builder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pwidgets.each do |pwidget| %>
  <tr>
    <td><%= pwidget.name %></td>
    <td><%= pwidget.builder %></td>
    <td><%= link_to 'Show', pwidget %></td>
    <td><%= link_to 'Edit', edit_pwidget_path(pwidget) %></td>
    <td><%= link_to 'Destroy', pwidget, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pwidget', new_pwidget_path %>
