<p id="notice"><%= notice %></p>

<p>
  <b>Pcontent:</b>
  <%= @pbehavior.pcontent_id %>
</p>

<p>
  <b>Prev pcontent:</b>
  <%= @pbehavior.prev_pcontent_id %>
</p>

<p>
  <b>Pevent:</b>
  <%= @pbehavior.pevent_id %>
</p>

<p>
  <b>Pfragment:</b>
  <%= @pbehavior.pfragment_id %>
</p>

<p>
  <b>Delay:</b>
  <%= @pbehavior.delay %>
</p>


<%= link_to 'Edit', edit_pbehavior_path(@pbehavior) %> |
<%= link_to 'Back', pbehaviors_path %>
