<script type="text/javascript">
    $(function () {
        $("#accordion_<%= @pdata.id %>").accordion();
    });
</script>

<style>
    .ui-accordion {
        width: 90%;
    }
</style>

<div id="accordion_<%= @pdata.id %>" style="width:<%= @width*0.8 %>;height:<%= @height*0.9 %>; overflow: auto;">
  <% @pdata.entries.each do |entry| %>
      <h3><a href="#"><%= entry.pmatter.split('|')[0] %></a></h3>

      <div><%= raw(entry.pmatter.split('|')[1]) %></div>
  <% end %>
</div>

